:root {
  /* Purple */
  --color-purple-100: #f5f4ff;
  --color-purple-200: #eceaff;
  --color-purple-300: #d6d2ff;
  --color-purple-400: #bfb7ff;
  --color-purple-500: #a498ff;
  --color-purple-600: #8470ff;
  --color-purple-700: #7664e4;
  --color-purple-800: #6657c6;
  --color-purple-900: #5347a1;

  /* Gray */
  --color-gray-100: #efeff1;
  --color-gray-200: #d0d0d4;
  --color-gray-300: #a1a1a9;
  --color-gray-400: #82828c;
  --color-gray-500: #56565e;
  --color-gray-600: #454548;
  --color-gray-700: #343438;
  --color-gray-800: #222226;
  --color-gray-900: #111113;

  /* Black and white */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Semantic colors */
  --color-primary: var(--color-purple-600);
  --color-primary-hover: var(--color-purple-700);
  /* --color-primary-active: var(--color-purple-800); */

  --color-background: var(--color-white);
  --color-surface: var(--color-white);

  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-400);

  --color-border: var(--color-gray-200);

  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-hover);
}
