.input {
  width: 100%;
  padding: var(--space-3) var(--space-4);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-full);
  margin: var(--space-2) 0;

  &:focus {
    outline: none;
    border-color: var(--color-purple-800);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.checkbox input[type="checkbox"] {
  accent-color: var(--color-purple-800);
  background-color: var(--color-white);
  width: var(--space-4);
  height: var(--space-4);
}
